html, body{
	margin: 0;
	padding: 0;
	text-align: center;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
canvas{
	display: block;
	margin: 10px auto;
  image-rendering: auto;
}
div{
	margin: auto auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 240px;
}
button{
	font-family: Arial;
	font-size: 2em;
	min-width: 2em;
	cursor: pointer;
	border: none;
	background-color: #008CBA;
        color: white;
	padding: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        margin: 4px 2px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
